@font-face{
    font-family:'SAP-Anywhere-Icon';
    src:url('../fonts/SAP-Anywhere-Icon.ttf');
    font-weight:normal;
    font-style:normal;
}
[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'SAP-Anywhere-Icon';font-style:normal;speak:none;vertical-align:bottom;}

.vertical-middle{top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);vertical-align:top;}
.horizontal-center{left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);}
.vh-centering{top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.expandable-after{padding-left:10px;font-size:12px;content:"\e818";font-family:'SAP-Anywhere-Icon';bottom:-1px;position:relative;}
.expandable-after-dropdown{padding-left:10px;font-size:12px;content:"\e818";font-family:'SAP-Anywhere-Icon';bottom:-1px;position:relative;content:"\e96a";}
.expandable-after-popup{padding-left:10px;font-size:12px;content:"\e818";font-family:'SAP-Anywhere-Icon';bottom:-1px;position:relative;content:"\e96c";}
.expandable-after-arrow{padding-left:10px;font-size:12px;content:"\e818";font-family:'SAP-Anywhere-Icon';bottom:-1px;position:relative;content:"\e806";}
.expandable-after-menu{padding-left:10px;font-size:12px;content:"\e818";font-family:'SAP-Anywhere-Icon';bottom:-1px;position:relative;}
.short-border{content:" ";display:block;width:1px;background-color:rgba(255, 255, 255, 0.4);position:absolute;box-sizing:border-box;top:10px;bottom:10px;}
.short-border-before{content:" ";display:block;width:1px;background-color:rgba(255, 255, 255, 0.4);position:absolute;box-sizing:border-box;top:10px;bottom:10px;left:0;}
.short-border-after{content:" ";display:block;width:1px;background-color:rgba(255, 255, 255, 0.4);position:absolute;box-sizing:border-box;top:10px;bottom:10px;right:0;}
.sap-sbo-ui-rich-text ul,.sap-sbo-ui-rich-text ol{margin-left:25px;}
.dwb{line-height:40px!important;}
.icon-customize-layout:before{content:"\e800";}
.icon-add-1:before{content:"\e801";}
.icon-add-1-selected:before{content:"\e802";}
.icon-add-2:before{content:"\e803";}
.icon-administration:before{content:"\e804";}
.icon-all:before{content:"\e805";}
.icon-arrow-right:before{content:"\e806";}
.icon-attention:before{content:"\e807";}
.icon-attention-selected:before{content:"\e808";}
.icon-audio:before{content:"\e809";}
.icon-business:before{content:"\e80b";}
.icon-cart:before{content:"\e80c";}
.icon-checkbox-unselected:before{content:"\e80f";}
.icon-comment:before{content:"\e810";}
.icon-comment-selected:before{content:"\e811";}
.icon-main-contact-selected:before{content:"\e812";}
.icon-delete:before{content:"\e813";}
.icon-delete-wiz-circle:before{content:"\e814";}
.icon-delete-wiz-circle-selected:before{content:"\e815";}
.icon-down:before{content:"\e816";}
.icon-drop-list:before{content:"\e817";}
.icon-dropdown:before{content:"\e818";}
.icon-edit:before{content:"\e819";}
.icon-email:before{content:"\e81a";}
.icon-file:before{content:"\e81b";}
.icon-filter:before{content:"\e81c";}
.icon-finance:before{content:"\e81d";}
.icon-general:before{content:"\e81f";}
.icon-group:before{content:"\e820";}
.icon-help:before{content:"\e821";}
.icon-image:before{content:"\e823";}
.icon-main-contact:before{content:"\e824";}
.icon-system-selected:before{content:"\e825";}
.icon-memo:before{content:"\e826";}
.icon-menu:before{content:"\e827";}
.icon-more:before{content:"\e828";}
.icon-phone:before{content:"\e829";}
.icon-pin-to:before{content:"\e82a";}
.icon-play:before{content:"\e82b";}
.icon-play-selected:before{content:"\e82c";}
.icon-preview:before{content:"\e82d";}
.icon-refresh:before{content:"\e82e";}
.icon-right:before{content:"\e82f";}
.icon-search:before{content:"\e830";}
.icon-setting:before{content:"\e831";}
.icon-sort:before{content:"\e832";}
.icon-stop:before{content:"\e833";}
.icon-stop-selected:before{content:"\e834";}
.icon-system:before{content:"\e835";}
.icon-take-pic:before{content:"\e836";}
.icon-task:before{content:"\e837";}
.icon-task-approval:before{content:"\e838";}
.icon-task-call:before{content:"\e839";}
.icon-task-meeting:before{content:"\e83a";}
.icon-task-request:before{content:"\e83b";}
.icon-to-do:before{content:"\e83c";}
.icon-to-do-selected:before{content:"\e83d";}
.icon-up:before{content:"\e83f";}
.icon-user-profile:before{content:"\e840";}
.icon-wrong:before{content:"\e842";}
.icon-excel:before{content:"\e843";}
.icon-expand-down:before{content:"\e844";}
.icon-expand-left:before{content:"\e845";}
.icon-expand-up:before{content:"\e846";}
.icon-export:before{content:"\e847";}
.icon-handover:before{content:"\e849";}
.icon-info:before{content:"\e84a";}
.icon-invalid-date:before{content:"\e84b";}
.icon-pdf:before{content:"\e84c";}
.icon-ppt:before{content:"\e850";}
.icon-adjustment:before{content:"\e851";}
.icon-avatar:before{content:"\e852";}
.icon-doc-date:before{content:"\e853";}
.icon-return-date:before{content:"\e855";}
.icon-save:before{content:"\e856";}
.icon-send:before{content:"\e857";}
.icon-status-approved:before{content:"\e858";}
.icon-status-close:before{content:"\e859";}
.icon-status-pending:before{content:"\e85a";}
.icon-status-prepaid:before{content:"\e963";}
.icon-status-reject:before{content:"\e85b";}
.icon-success:before{content:"\e85c";}
.icon-swirch:before{content:"\e85d";}
.icon-system-info:before{content:"\e85e";}
.icon-word:before{content:"\e85f";}
.icon-status-opportunity:before{content:"\e860";}
.icon-related:before{content:"\e861";}
.icon-debit:before{content:"\e862";}
.icon-credit:before{content:"\e863";}
.icon-back:before{content:"\e80a";}
.icon-delivery-date:before{content:"\e864";}
.icon-due-date:before{content:"\e865";}
.icon-follow:before{content:"\e81e";}
.icon-forward:before{content:"\e848";}
.icon-permission-full:before{content:"\e84d";}
.icon-permission-null:before{content:"\e84e";}
.icon-permission-read:before{content:"\e84f";}
.icon-subordinate:before{content:"\e866";}
.icon-superior:before{content:"\e867";}
.icon-unfollow:before{content:"\e83e";}
.icon-view-change:before{content:"\e841";}
.icon-feed:before{content:"\e868";}
.icon-tab-address:before{content:"\e869";}
.icon-tab-basic-info:before{content:"\e86a";}
.icon-tab-biz:before{content:"\e86b";}
.icon-tab-contact:before{content:"\e86c";}
.icon-tab-customer:before{content:"\e86d";}
.icon-tab-memo:before{content:"\e86e";}
.icon-tab-price-list:before{content:"\e86f";}
.icon-tab-task:before{content:"\e870";}
.icon-tile-opportunity:before{content:"\e871";}
.icon-tile-bar-chart:before{content:"\e873";}
.icon-tile-contact:before{content:"\e874";}
.icon-tile-customer:before{content:"\e875";}
.icon-tile-incoming-pay:before{content:"\e876";}
.icon-tile-jourmal-entry:before{content:"\e877";}
.icon-tile-leads:before{content:"\e878";}
.icon-tile-line-chart:before{content:"\e879";}
.icon-tile-outgoing-pay:before{content:"\e87a";}
.icon-tile-period-and-closing:before{content:"\e87b";}
.icon-tile-pie-chart:before{content:"\e87c";}
.icon-tile-pipeline-manager:before{content:"\e87d";}
.icon-tile-product-showroom:before{content:"\e87f";}
.icon-tile-sales-delivery:before{content:"\e880";}
.icon-tile-sales-order:before{content:"\e881";}
.icon-tile-sales-quotation:before{content:"\e882";}
.icon-tile-sales-return:before{content:"\e883";}
.icon-tile-vendor:before{content:"\e884";}
.icon-tile-bank-acount:before{content:"\e886";}
.icon-step:before{content:"\e887";}
.icon-step1:before{content:"\e888";}
.icon-step1-selected:before{content:"\e889";}
.icon-step2:before{content:"\e88a";}
.icon-step2-selected:before{content:"\e88b";}
.icon-step3:before{content:"\e88c";}
.icon-step3-selected:before{content:"\e88d";}
.icon-step-selected:before{content:"\e88e";}
.icon-zip:before{content:"\e88f";}
.icon-tile-ap-credit-memo:before{content:"\e890";}
.icon-tile-ap-invoice:before{content:"\e891";}
.icon-tile-ar-credit-memo:before{content:"\e885";}
.icon-tile-ar-invoice:before{content:"\e872";}
.icon-fax:before{content:"\e892";}
.icon-telephone:before{content:"\e893";}
.icon-home:before{content:"\e822";}
.icon-home-selected:before{content:"\e894";}
.icon-drag:before{content:"\e854";}
.icon-checkbox-selected:before{content:"\e80e";}
.icon-mention:before{content:"\e895";}
.icon-wechat-address:before{content:"\e896";}
.icon-wechat-cardview:before{content:"\e897";}
.icon-wechat-defult-address:before{content:"\e898";}
.icon-wechat-delete:before{content:"\e899";}
.icon-wechat-listview:before{content:"\e89a";}
.icon-wechat-minus:before{content:"\e89b";}
.icon-wechat-next:before{content:"\e89c";}
.icon-wechat-perv:before{content:"\e89d";}
.icon-wechat-plus:before{content:"\e89e";}
.icon-wechat-search:before{content:"\e89f";}
.icon-wechat-shopping-cart:before{content:"\e8a0";}
.icon-wechat-staus-cancelled:before{content:"\e8a1";}
.icon-wechat-staus-completed:before{content:"\e8a2";}
.icon-wechat-staus-delivering:before{content:"\e8a3";}
.icon-wechat-staus-paid:before{content:"\e8a4";}
.icon-wechat-staus-waiting-for-pay:before{content:"\e8a5";}
.icon-left:before{content:"\e8a6";}
.icon-right2:before{content:"\e8a7";}
.icon-wechat-checkbox-selected:before{content:"\e8a8";}
.icon-wechat-checkbox-unselected:before{content:"\e8a9";}
.icon-wechat-more:before{content:"\e8aa";}
.icon-wechat-radio-button-selected:before{content:"\e8ab";}
.icon-wechat-radio-button-unselected:before{content:"\e8ac";}
.icon-tile-product:before{content:"\e87e";}
.icon-lock:before{content:"\e8ad";}
.icon-stock:before{content:"\e8ae";}
.icon-unlock:before{content:"\e8af";}
.icon-tab-sku:before{content:"\e8b0";}
.icon-tile-goods-receipt:before{content:"\e8b1";}
.icon-tile-inventory:before{content:"\e8b2";}
.icon-tile-inventory-counting:before{content:"\e8b3";}
.icon-tile-inventory-posting:before{content:"\e8b4";}
.icon-tile-inventory-transfer:before{content:"\e8b5";}
.icon-tile-warehouse:before{content:"\e8b6";}
.icon-bank-card:before{content:"\e8b7";}
.icon-keyboard-delete:before{content:"\e8b8";}
.icon-pay-later:before{content:"\e8b9";}
.icon-tile-pos:before{content:"\e8ba";}
.icon-je:before{content:"\e8bb";}
.icon-jv:before{content:"\e8bc";}
.icon-chat:before{content:"\e8bd";}
.icon-glaccounting:before{content:"\e8be";}
.icon-checkbox-partially-selected:before{content:"\e80d";}
.icon-chat-selected:before{content:"\e8bf";}
.icon-tile-report:before{content:"\e8c0";}
.icon-zoom-in:before{content:"\e8c1";}
.icon-zoom-out:before{content:"\e8c2";}
.icon-small-loading:before{content:"\e8c3";}
.icon-sort2:before{content:"\e8c4";}
.icon-stage-view:before{content:"\e8c5";}
.icon-tile-kpi:before{content:"\e8c6";}
.icon-zoom-small:before{content:"\e8c7";}
.icon-zoom-big:before{content:"\e8c8";}
.icon-add-new:before{content:"\e8c9";}
.icon-arrow-up:before{content:"\e8ca";}
.icon-back-to-top:before{content:"\e8cb";}
.icon-card-view:before{content:"\e8cc";}
.icon-chart-view:before{content:"\e8cd";}
.icon-company-logo:before{content:"\e8ce";}
.icon-data-view:before{content:"\e8cf";}
.icon-date-view:before{content:"\e8d0";}
.icon-go-to-top:before{content:"\e8d1";}
.icon-list-view:before{content:"\e8d2";}
.icon-tab-internal-reconciliation:before{content:"\e8d3";}
.icon-tile-internal-reconciliation:before{content:"\e8d4";}
.icon-pki2:before{content:"\e8d6";}
.icon-report2:before{content:"\e8d7";}
.icon-selected2:before{content:"\e8d8";}
.icon-unlock2:before{content:"\e8d9";}
.icon-unselected2:before{content:"\e8da";}
.icon-time:before{content:"\e8db";}
.icon-partially-selected:before{content:"\e8d5";}
.icon-calendar:before{content:"\e8dc";}
.icon-goods-return:before{content:"\e8dd";}
.icon-purchase-order:before{content:"\e8de";}
.icon-purchase-receipt:before{content:"\e8df";}
.icon-reevaluation:before{content:"\e8e0";}
.icon-tile-sales-target:before{content:"\e8e1";}
.icon-assign:before{content:"\e8e5";}
.icon-campaign:before{content:"\e8e3";}
.icon-cancelled:before{content:"\e8e4";}
.icon-delivered:before{content:"\e8e2";}
.icon-draft:before{content:"\e8e6";}
.icon-dropship:before{content:"\e8e7";}
.icon-finishied:before{content:"\e8e8";}
.icon-havenot-started:before{content:"\e8e9";}
.icon-partial-finished:before{content:"\e8ea";}
.icon-planned:before{content:"\e8eb";}
.icon-quick-create:before{content:"\e8ec";}
.icon-release:before{content:"\e8ed";}
.icon-to-be-delivered:before{content:"\e8ee";}
.icon-dashboard:before{content:"\e8ef";}
.icon-target-groups:before{content:"\e8f0";}
.icon-appointment:before{content:"\e8f1";}
.icon-campaign-dashboard:before{content:"\e8f2";}
.icon-customer360-dashboard:before{content:"\e8f3";}
.icon-customerInsight-dashboard:before{content:"\e99a";}
.icon-customerService-dashboard:before{content:"\e8fe";}
.icon-servicecaseaverageclosuretime-dashboard:before{content:"\e8fe";}
.icon-servicecaseclosedpersupportconsultant-dashboard:before{content:"\e8ff";}
.icon-tile-knowledge-base-items:before{content:"\e8f4";}
.icon-tile-service-case:before{content:"\e8f5";}
.icon-support:before{content:"\e915";}
.icon-like:before{content:"\e912";}
.icon-dislike:before{content:"\e911";}
.icon-send2:before{content:"\e8f7";}
.icon-synced:before{content:"\e8f6";}
.icon-tile-payment:before{content:"\e8f9";}
.icon-taobao:before{content:"\e8fa";}
.icon-batch:before{content:"\e8fb";}
.icon-status-approval:before{content:"\e8fc";}
.icon-sync2:before{content:"\e8fd";}
.icon-service-case-average-closure-time:before{content:"\e8fe";}
.icon-service-case-closed-per-support-consultant:before{content:"\e8ff";}
.icon-status-alert:before{content:"\e90c";}
.icon-status-new:before{content:"\e90b";}
.icon-status-inprocess:before{content:"\e90a";}
.icon-status-customer:before{content:"\e909";}
.icon-status-closed:before{content:"\e908";}
.icon-list-data:before{content:"\e906";}
.icon-list-inventory:before{content:"\e907";}
.icon-list-dashboard:before{content:"\e905";}
.icon-list-crm:before{content:"\e904";}
.icon-list-service:before{content:"\e900";}
.icon-list-sales:before{content:"\e902";}
.icon-list-other:before{content:"\e903";}
.icon-list-purchase:before{content:"\e901";}
.icon-menu-support:before{content:"\e915";}
.icon-menu-marketing:before{content:"\e914";}
.icon-menu-logoff:before{content:"\e913";}
.icon-menu-like:before{content:"\e912";}
.icon-calculator:before{content:"\e910";}
.icon-menu-dislike:before{content:"\e911";}
.icon-anywhere-logo:before{content:"\e90d";}
.icon-apply-for-return:before{content:"\e90e";}
.icon-returned:before{content:"\e90f";}
.icon-menu-purchase1:before{content:"\e91a";}
.icon-menu-marketing1:before{content:"\e919";}
.icon-menu-inventory1:before{content:"\e918";}
.icon-menu-channel-management:before{content:"\e917";}
.icon-menu-service1:before{content:"\e916";}
.icon-homepage-channel-products1:before{content:"\e91b";}
.icon-homepage-pricing1:before{content:"\e91c";}
.icon-homepage-purchase-request1:before{content:"\e91d";}
.icon-homepage-purchase-return1:before{content:"\e91f";}
.icon-back-to-delete-0:before{content:"\e920";}
.icon-back-to-delete:before{content:"\e921";}
.icon-checkbox-partially-selected-02:before{content:"\e925";}
.icon-checkbox-selected-02:before{content:"\e924";}
.icon-checkbox-unselected-02:before{content:"\e923";}
.icon-scan-barcode:before{content:"\e922";}
.icon-empty-content:before{content:"\e926";}
.icon-homepage-assembly-order:before{content:"\e927";}
.icon-pin-to-homepage:before{content:"\e928";}
.icon-font:before{content:"\e929";}
.icon-footer:before{content:"\e92a";}
.icon-header:before{content:"\e92b";}
.icon-key:before{content:"\e92c";}
.icon-navigation-menu:before{content:"\e92d";}
.icon-theme-gallery:before{content:"\e92e";}
.icon-edit-avatar:before{content:"\e92f";}
.icon-activity:before{content:"\e930";}
.icon-none-input-value:before{content:"\e931";}
.icon-promotion-cn:before{content:"\e933";}
.icon-promotion-us:before{content:"\e934";}
.icon-other-payment:before{content:"\e932";}
.icon-enlarge:before{content:"\e938";}
.icon-lessen:before{content:"\e937";}
.icon-pin-to-homepage-02:before{content:"\e935";}
.icon-sort-by-name-az:before{content:"\e939";}
.icon-sort-by-name-za:before{content:"\e93a";}
.icon-sort-by-time-anticlockwise:before{content:"\e93b";}
.icon-sort-by-time-clockwise:before{content:"\e93c";}
.icon-unpin-from-homepage-02:before{content:"\e936";}
.icon-add-widget:before{content:"\e93d";}
.icon-upload:before{content:"\e93f";}
.icon-widget-added:before{content:"\e93e";}
.icon-printer:before{content:"\e940";}
.icon-undone:before{content:"\e943";}
.icon-fail:before{content:"\e942";}
.icon-done:before{content:"\e941";}
.icon-apply-promotion:before{content:"\e944";}
.icon-daily-sales-report:before{content:"\e945";}
.icon-weekly-sales-report:before{content:"\e946";}
.icon-pos-adjust-price:before{content:"\e948";}
.icon-pos-back:before{content:"\e947";}
.icon-pos-orderlist:before{content:"\e949";}
.icon-pos-scan:before{content:"\e94b";}
.icon-pos-search:before{content:"\e94a";}
.icon-pos-setting:before{content:"\e94c";}
.icon-pos-sync:before{content:"\e94d";}
.icon-online-store:before{content:"\e94e";}
.icon-wechat-pay:before{content:"\e94f";}
.icon-social-facebook:before{content:"\e950";}
.icon-social-twitter:before{content:"\e951";}
.icon-social-wechat:before{content:"\e952";}
.icon-social-weibo:before{content:"\e953";}
.icon-social-alipay:before{content:"\e95b";}
.icon-attachment-download:before{content:"\e955";}
.icon-fileformat-doc:before{content:"\e954";}
.icon-fileformat-img:before{content:"\e956";}
.icon-fileformat-other:before{content:"\e957";}
.icon-fileformat-pdf:before{content:"\e958";}
.icon-fileformat-ppt:before{content:"\e959";}
.icon-fileformat-xls:before{content:"\e95a";}
.icon-dropdown-uom:before{content:"\e95c";}
.icon-open-in-new-window:before{content:"\e95d";}
.icon-social-google:before{content:"\e960";}
.icon-report-chart:before{content:"\e95e";}
.icon-report-table:before{content:"\e95f";}
.icon-pos-orderlist-new:before{content:"\e961";}
.icon-social-connect:before{content:"\e962";}
.icon-status-prepaid:before{content:"\e963";}
.icon-approved:before{content:"\e967";}
.icon-awaiting-approve:before{content:"\e968";}
.icon-refund:before{content:"\e964";}
.icon-redeem-card:before{content:"\e965";}
.icon-edit-customer:before{content:"\e966";}
.icon-input-calendar:before{content:"\e969";}
.icon-input-combobox:before{content:"\e96a";}
.icon-input-connect:before{content:"\e96b";}
.icon-input-dialog:before{content:"\e96c";}
.icon-input-dropdown:before{content:"\e96d";}
.icon-input-uom:before{content:"\e96e";}
.icon-as-adjust-layout:before{content:"\e97a";}
.icon-as-allocate:before{content:"\e971";}
.icon-as-arrange-deliver:before{content:"\e972";}
.icon-as-assemble:before{content:"\e973";}
.icon-as-cancel:before{content:"\e974";}
.icon-as-change-owner:before{content:"\e975";}
.icon-as-close:before{content:"\e976";}
.icon-as-create:before{content:"\e977";}
.icon-as-deallocate:before{content:"\e978";}
.icon-as-do-not-deliver:before{content:"\e979";}
.icon-as-duplicate:before{content:"\e970";}
.icon-as-export:before{content:"\e97b";}
.icon-as-import:before{content:"\e97c";}
.icon-as-pay:before{content:"\e97d";}
.icon-as-pin-to-homepage:before{content:"\e97e";}
.icon-as-prepay:before{content:"\e97f";}
.icon-as-print:before{content:"\e980";}
.icon-as-share:before{content:"\e981";}
.icon-as-split:before{content:"\e982";}
.icon-as-merge:before{content:"\e983";}
.icon-as-sync-message:before{content:"\e984";}
.icon-as-unpin-from-homepage:before{content:"\e985";}
.icon-as-update:before{content:"\e986";}
.icon-tab-filter:before{content:"\e987";}
.icon-pos-allocate:before{content:"\e96f";}
.icon-tab-edit-tab:before{content:"\e988";}
.icon-notification:before{content:"\e98f";}
.icon-notification-read:before{content:"\e98d";}
.icon-alert-sales-approval:before{content:"\e996";}
.icon-alert-inventory:before{content:"\e995";}
.icon-tile-unpin:before{content:"\e98c";}
.icon-tile-edit:before{content:"\e98a";}
.icon-report-sales:before{content:"\e994";}
.icon-report-service:before{content:"\e993";}
.icon-report-purchase:before{content:"\e992";}
.icon-report-inventory:before{content:"\e991";}
.icon-report-crm:before{content:"\e990";}
.icon-tile-pin:before{content:"\e98b";}
.icon-tile-duplicate:before{content:"\e989";}
.icon-upload-img:before{content:"\e998";}
.icon-social-pinterest:before{content:"\e997";}
.icon-filter-with-value:before{content:"\e999";}
.icon-customer-insight:before{content:"\e99a";}
.icon-scangun:before{content:"\e99b";}
.icon-report-number:before{content:"\e99c";}
.icon-report-measure:before{content:"\e99d";}
.icon-report-calendar:before{content:"\e99e";}
.icon-drag-filter:before{content:"\e99f";}
.icon-drag-table:before{content:"\e1000";}
.icon-filter-save-new-tab:before{content:"\e1002";}
.icon-filter-pin-to-home:before{content:"\e1001";}
.icon-filter-export:before{content:"\e1003";}
.icon-filter-clear:before{content:"\e1004";}
.icon-filter-unpin-from-home:before{content:"\e1005";}

[data-icon]:before{font-family:'SAP-icons';content:attr(data-icon);speak:none;}
